@model CuaHangThoiTrang.Models.ROLE
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section slide{
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <!-- Indicators (banner) Assets->client->css->style.css -->
        <img src="~/Assets/Client/images/slide2.png" alt=""width="100%" height="auto">
    </div>
}
<div class="container py-xl-4 py-lg-2">
@* tittle heading *@
<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
COLLECTIONS
</h3>
@* //tittle heading *@
<div class="agileinfo-ads-display col-lg-9">
    <div class="row">
        <div class="wrapper">
            <!-- first section(sanpham) -->
            <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
                <div class="row">
                    <div class="col-md-3 product-men mt-5">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item text-center">
                                <a href="/Home/SPTheoMuc?maDM=7">
                                    <img src="~/Assets/Client/images/shoebanner1.jpg" alt="" width="350px" height="250px">Giày cỏ nhân tạo
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men mt-5">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item text-center">
                                <a href="/Home/SPTheoMuc?maDM=2">
                                    <img src="~/Assets/Client/images/shoebanner2.jpg" alt="" width="350px" height="250px">Giày futsal
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men mt-5">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item text-center">
                                <a href="/Home/SPTheoMuc?maDM=3">
                                    <img src="~/Assets/Client/images/itembanner.jpg" alt="" width="350px" height="250px">Starbalm
                                </a>
                            </div>
                        </div>
                    </div>                  
                    <div class="col-md-3 product-men mt-5">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item text-center">
                                <a href="/Home/SPTheoMuc?maDM=4">
                                    <img src="~/Assets/Client/images/shirtbanner.jpg" alt="" width="350px" height="250px">Áo thể thao
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men mt-5">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item text-center">
                                <a href="/Home/SPTheoMuc?maDM=5">
                                    <img src="~/Assets/Client/images/ballbanner.jpg" alt="" width="350px" height="250px">Bóng đá
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men mt-5">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item text-center">
                                <a href="/Home/SPTheoMuc?maDM=6">
                                    <img src="~/Assets/Client/images/equimentbanner.jpg" alt="" width="350px" height="250px">Phụ kiện bóng đá
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
