
@{
    ViewBag.Title = "Success";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Success</h2>

<div>
    @ViewBag.Result
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

