
@{
    ViewBag.Title = "Success";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Success</h2>
<body>
    <div>
        @ViewBag.Result
    </div>
</body>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>